.subsform {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.subsform > .subsformitem {
	padding: 10px 10px;
	border: 3px solid rgba(15, 113, 175);
	margin: 20px;
	font-size: 1.25em;
	text-align: center;
	background: transparent;
}

.subsform > .subsformbtn {
	background: rgba(15, 113, 175);
	width: 300px;
	padding: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	font-size: 1.25em;
	margin-top: 50px;
	cursor: pointer;
}

.subscursoexit {
	right: 0;
	position: absolute;
	top: 0;
	margin: 10px 10px 0px;
	padding: 10px;
	background: rgba(15, 113, 175);
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	cursor: pointer;
	font-size: 1.25em;
}

@media (max-width: 1135px) {
	.subsform {
		flex-direction: column;
		flex-wrap: nowrap;
	}
}