.welcomecurso {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
	position: relative;
}

.welcomecurso > .cursotitle {
	font-size: 2.25em;
	line-height: 1.4em;
}

.welcomecurso > .cursotext {
	font-size: 1.25em;
	margin-top: 10px;
}

.welcomecurso > .separador {
	border: none;
	background: transparent;
	color: transparent;
	height: 120px;
}

.welcomecurso > .cursobtn {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #fff;
	background: transparent;
	padding: 10px;
	border-radius: 5px;
	margin-top: 40px;
	font-weight: bold;
	transition: 300ms all linear;
	font-size: 1em;
	cursor: pointer;
}

.welcomecurso > .cursobtn:hover {
	background: #fff ;
	color: rgb(15, 113, 175)
}

.welcomecurso > .welcomecursologo {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 2em;
	padding: 20px;
}

.welcomecurso > .welcomecursologo .cursologo {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.welcomecurso > .welcomecursologo .cursologo .cursodestaque{
	color: #000544;
}


